<footer id="social" class="footer mx-auto max-w-7xl items-center p-4">
  <aside class="grid-flow-col items-center">

    <p>©2024 Arunabha Mukhopadhyay</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://github.com/Arunabha-NOTE/Arunabha" target="_blank">
      <i class="devicon-github-original text-xl" ></i>
    </a>
    <a href="https://www.linkedin.com/in/arunabha-mukhopadhyay/" target="_blank">
      <i class="devicon-linkedin-plain  text-xl" ></i>
    </a>
    <a href="mailto:arunabham2017@gmail.com" target="_blank">
      <i class="devicon-chrome-plain text-xl" ></i>
    </a>
  </nav>
</footer>
