<div class="navbar sticky top-0 max-w-7xl rounded-full mt-8 bg-neutral mx-auto  ">
  <div class="navbar-start">
    <div class="dropdown rounded-full">
      <div tabindex="0" role="button" class="btn rounded-full btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu rounded-box menu-sm dropdown-content bg-neutral z-[1] mt-3 w-52 p-2 shadow">
        <li><a>Item 1</a></li>
        <li><a>Item 3</a></li>
        <li><a>Item 3</a></li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost rounded-full text-xl" href="/"><img src="/angular_gradient.png" class="w-10 h-10 aspect-square" alt="angularlogoforarunabha"></a>
  </div>
  <div class="navbar-center rounded-full hidden lg:flex">
    <ul class="menu rounded-full menu-horizontal px-1">
      <li><a href="">Item 1</a></li>
      <li><a href="">Item 3</a></li>
      <li><a href="">Item 3</a></li>
      <li><a href="">Item 3</a></li>
    </ul>
  </div>
  <div class="navbar-end ">
    <a href="https://media.licdn.com/dms/document/media/D4D2DAQENjeX7Z-gnJw/profile-treasury-document-pdf-analyzed/0/1721729926938?e=1722470400&v=beta&t=N7ZPpnRO0RkpghZahsnB6ccb6mJ5GBP5dghhpeQtYHM" target="_blank" class="btn bg-secondary text-black rounded-full">Resume/CV</a>
  </div>
</div>
