<div class="hero mb-24 mt-24">
  <div class="hero-content">
    <div class="">
      <h1 class="text-5xl font-bold">Hi, I Am <span class="bg-gradient-to-r from-[#FC466B] to-[#3F5EFB] text-transparent bg-clip-text">Arunabha Mukhopadhyay</span></h1>
      <p class="py-6">
        I am a Full Stack Developer and a third-year Computer and Communication Engineering student at Manipal
        University Jaipur, India. I primarily work with the MEAN and MERN stacks, and I have experience with various
        backend frameworks such as Spring Boot and FastAPI. I am also passionate about cloud-native tools and
        technologies and have a keen interest in DevOps.
      </p>
      <a href="https://media.licdn.com/dms/document/media/D4D2DAQENjeX7Z-gnJw/profile-treasury-document-pdf-analyzed/0/1721729926938?e=1722470400&v=beta&t=N7ZPpnRO0RkpghZahsnB6ccb6mJ5GBP5dghhpeQtYHM"><button class="btn btn-secondary">Resume/CV</button></a>
    </div>
  </div>
</div>
