<div [@slideInFromBottomInitial] class="hero mb-28 mt-28">
    <div class="hero-content">
        <div class="">
            <h1 class="text-4xl font-bold">Hi, I Am <span
                class="bg-gradient-to-r from-[#ff00cc] to-[#818cf8] text-transparent bg-clip-text">Arunabha Mukhopadhyay</span>
            </h1>
            <p class="py-6">
                I am a final-year Computer and Communication Engineering student at Manipal University Jaipur, India,
                with a focus on Full Stack Development, DevOps, and Cloud technologies. I have experience working with
                various frontend and backend technologies, and have explored AI/ML concepts like Vision Transformers. My
                practical experience includes internships at Ericsson and Heizen, and I enjoy
                contributing to technical communities and participating in hackathons.
            </p>
            <a class="" href="https://github.com/Arunabha-NOTE" target="_blank">
                <button class="btn btn-secondary"><i
                    class="devicon-github-original px-1"></i>GitHub</button>
            </a>
            <a class="px-2" href="https://gitlab.com/Arunabha-NOTE" target="_blank">
                <button class="btn btn-secondary"><i
                    class="devicon-gitlab-plain px-1"></i>GitLab</button>
            </a>
        </div>
    </div>
</div>
