<div class="hero mb-24 mt-24">
  <div class="hero-content">
    <div class="">
      <h1 class="text-5xl font-bold">Hi, I Am <span class="bg-gradient-to-r from-[#ff00cc] to-[#818cf8] text-transparent bg-clip-text">Arunabha Mukhopadhyay</span></h1>
      <p class="py-6">
        I am a Full Stack Developer and a third-year Computer and Communication Engineering student at Manipal
        University Jaipur(MUJ), India. I primarily work with the MEAN and MERN stacks, and I have experience with various
        other backend frameworks such as Spring Boot and FastAPI. I am also passionate about cloud-native tools and
        technologies and have a keen interest in DevOps.
      </p>
      <a href="https://github.com/Arunabha-NOTE" target="_blank"><button class="btn btn-secondary">Github</button></a>
    </div>
  </div>
</div>
