<div class="mx-auto p-4 max-w-7xl">
    <h1 class="mx-auto max-w-7xl p-4 text-2xl">Skills list</h1>
    <p class="mx-auto max-w-7xl p-4">Languages</p>
    <div class="mockup-code w-full">
        <pre data-prefix=">"><code>Java</code></pre>
        <pre data-prefix=">"><code>Typescript</code></pre>
        <pre data-prefix=">"><code>Javascript</code></pre>
        <pre data-prefix=">"><code>Bash</code></pre>
        <pre data-prefix=">"><code>Python</code></pre>
        <pre data-prefix=">"><code>C</code></pre>
    </div>
    <p class="mx-auto max-w-7xl p-4">Frontend</p>
    <div class="mockup-code w-full">
        <pre data-prefix=">"><code>Angular</code></pre>
        <pre data-prefix=">"><code>React</code></pre>
        <pre data-prefix=">"><code>NextJs</code></pre>
        <pre data-prefix=">"><code>TailwindCSS</code></pre>
    </div>
    <p class="mx-auto max-w-7xl p-4">Backend</p>
    <div class="mockup-code w-full">
        <pre data-prefix=">"><code>Spring</code></pre>
        <pre data-prefix=">"><code>NodeJS</code></pre>
        <pre data-prefix=">"><code>Express</code></pre>
        <pre data-prefix=">"><code>FastAPI</code></pre>
        <pre data-prefix=">"><code>Supabase</code></pre>
        <pre data-prefix=">"><code>Prisma</code></pre>
    </div>
    <p class="mx-auto max-w-7xl p-4">DevOps</p>
    <div class="mockup-code w-full">
        <pre data-prefix=">"><code>Docker</code></pre>
        <pre data-prefix=">"><code>Kubernetes</code></pre>
        <pre data-prefix=">"><code>TerraForm</code></pre>
        <pre data-prefix=">"><code>CircleCI</code></pre>
        <pre data-prefix=">"><code>GitLab</code></pre>
        <pre data-prefix=">"><code>GitHub Actions</code></pre>
    </div>
    <p class="mx-auto max-w-7xl p-4">Cloud</p>
    <div class="mockup-code w-full">
        <pre data-prefix=">"><code>AWS</code></pre>
        <pre data-prefix=">"><code>Vercel</code></pre>
    </div>
    <p class="mx-auto max-w-7xl p-4">DBMS</p>
    <div class="mockup-code w-full">
        <pre data-prefix=">"><code>MongoDB</code></pre>
        <pre data-prefix=">"><code>Mongoose</code></pre>
        <pre data-prefix=">"><code>MySQL</code></pre>
        <pre data-prefix=">"><code>SQLite</code></pre>
        <pre data-prefix=">"><code>PostgreSQL</code></pre>
    </div>
    <p class="mx-auto max-w-7xl p-4">Version</p>
    <div class="mockup-code w-full">
        <pre data-prefix=">"><code>Git</code></pre>
        <pre data-prefix=">"><code>GitHub</code></pre>
        <pre data-prefix=">"><code>GitLab</code></pre>
    </div>
    <p class="mx-auto max-w-7xl p-4">Operating System</p>
    <div class="mockup-code w-full">
        <pre data-prefix=">"><code>Fedora</code></pre>
        <pre data-prefix=">"><code>Linux</code></pre>
        <pre data-prefix=">"><code>Ubuntu</code></pre>
    </div>
    <p class="mx-auto max-w-7xl p-4">Machine Learning</p>
    <div class="mockup-code w-full">
        <pre data-prefix=">"><code>PyTorch</code></pre>
        <pre data-prefix=">"><code>TensorFlow</code></pre>
        <pre data-prefix=">"><code>Matplotlib</code></pre>
        <pre data-prefix=">"><code>Scikit-learn</code></pre>
        <pre data-prefix=">"><code>Pandas</code></pre>
    </div>
    <p class="mx-auto max-w-7xl p-4">Others</p>
    <div class="mockup-code w-full mb-4">
        <pre data-prefix=">"><code>Gradle</code></pre>
        <pre data-prefix=">"><code>Maven</code></pre>
        <pre data-prefix=">"><code>NPM</code></pre>
        <pre data-prefix=">"><code>Vite</code></pre>
        <pre data-prefix=">"><code>Postman</code></pre>
        <pre data-prefix=">"><code>VSCode</code></pre>
        <pre data-prefix=">"><code>JetBrains</code></pre>
        <pre data-prefix=">"><code>Powershell</code></pre>
    </div>
</div>
