<h2 class="bg-gradient-to-r from-[#ff00cc] to-[#818cf8] text-transparent bg-clip-text mx-auto text-4xl font-bold p-4 max-w-7xl ">Projects</h2>
<div class="mx-auto  max-w-7xl grid md:grid-cols-3 grid-cols-1 gap-6 px-4 py-6">
  <div class="card hover:shadow-lg hover:shadow-[#ff00cc]  bg-base-100  border-secondary border-2 hover:-translate-y-4 duration-200" *ngFor="let project of projects">
    <div class="card-body bg-opacity-40 backdrop-filter  bg-neutral rounded-2xl">
      <h2 class="card-title text-2xl">{{ project.name }}</h2>
      <p>{{ project.description }}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-secondary"><a [href]="project.link" target="_blank">{{ project.platform }}</a></button>
      </div>
    </div>
  </div>
</div>
