<div id="hero">
  <app-hero></app-hero>
</div>
<div id="skills" class="mb-24">
  <app-skills></app-skills>
</div>
<hr class="mx-4 my-4 mb-16 border-gray-300 dark:border-gray-700 " />
<div  class="mb-24" id="experience">
  <app-experience></app-experience>
</div>
<hr class="mx-4 my-4 mb-16 border-gray-300 dark:border-gray-700 " />
<div id="projects" class="mb-24">
  <app-projects ></app-projects>
</div>
<hr class="mx-4 my-4 mb-16 border-gray-300 dark:border-gray-700 " />
<div id="awards" class="mb-24">
  <app-awards />
</div>
<hr class="mx-4 my-4 mb-16 border-gray-300 dark:border-gray-700 " />
<div id="extracurriculars" class="mb-24">
  <app-extracurriculars></app-extracurriculars>
</div>
