<h2 class="bg-gradient-to-r from-[#ff00cc] to-[#818cf8] text-transparent bg-clip-text mx-auto text-4xl font-bold p-4 max-w-7xl ">Skills</h2>
<h2 class="mx-auto text-2xl p-4 max-w-7xl">Languages</h2>
<div class="max-w-7xl px-4 gap-4 flex flex-wrap mx-auto">
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-java-plain px-1"></i>
    Java</kbd>
  <kbd class="kbd kbd-md  text-xl"><i class="devicon-typescript-plain px-1"></i>
     Typescript</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-javascript-plain px-1"></i>
    Javascript</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-python-plain px-1"></i>
    Python</kbd>
</div>

<h2 class="mx-auto text-2xl p-4 max-w-7xl">DevOps</h2>
<div class="max-w-7xl px-4 gap-4 flex flex-wrap mx-auto">
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-docker-plain px-1"></i>
    Docker</kbd>
  <kbd class="kbd kbd-md  text-xl"><i class="devicon-gitlab-plain px-1"></i>
    Gitlab</kbd>
</div>

<h2 class="mx-auto text-2xl p-4 max-w-7xl">Frontend</h2>
<div class="max-w-7xl px-4 gap-4 flex flex-wrap mx-auto">
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-angular-plain px-1"></i>
    Angular</kbd>
  <kbd class="kbd kbd-md  text-xl"><i class="devicon-react-original px-1"></i>
    React</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-nextjs-plain px-1"></i>
    NextJs</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-tailwindcss-original px-1"></i>
    TailwindCSS</kbd>
</div>

<h2 class="mx-auto text-2xl p-4 max-w-7xl">Backend</h2>
<div class="max-w-7xl px-4 gap-4 flex flex-wrap mx-auto">
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-spring-original px-1"></i>
    Spring</kbd>
  <kbd class="kbd kbd-md  text-xl"><i class="devicon-nodejs-plain px-1"></i>
    NodeJS</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-express-original px-1"></i>
    Express</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-fastapi-plain px-1"></i>
    FastApi</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-mongoose-original px-1"></i>
    Mongoose</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-mongodb-plain px-1"></i>
    MongoDB</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-mysql-original px-1"></i>
    MySQL</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-sqlite-plain px-1"></i>
    SQLite</kbd>
</div>

<h2 class="mx-auto text-2xl p-4 max-w-7xl">Others</h2>
<div class="max-w-7xl px-4 gap-4 mb-6 flex flex-wrap mx-auto">
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-vercel-original px-1"></i>
    Vercel</kbd>
  <kbd class="kbd kbd-md  text-xl"><i class="devicon-fedora-plain px-1"></i>
    Fedora</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-linux-plain px-1"></i>
    Linux</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-ubuntu-plain px-1"></i>
    Ubuntu</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-maven-plain px-1"></i>
    Maven</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-npm-original-wordmark px-1"></i>
    NPM</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-vitejs-plain px-1"></i>
    ViteJs</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-postman-plain px-1"></i>
    Postman</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-vscode-plain px-1"></i>
    VSCode</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-jetbrains-plain px-1"></i>
    JetBrains</kbd>
</div>
