<h2 class="mx-auto text-2xl p-4 max-w-7xl">Languages</h2>
<div class="max-w-7xl px-4 gap-4 flex flex-wrap mx-auto">
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-java-plain px-1"></i>
    Java</kbd>
  <kbd class="kbd kbd-md  text-xl"><i class="devicon-typescript-plain px-1"></i>
     Typescript</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-javascript-plain px-1"></i>
    Javascript</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-python-plain px-1"></i>
    Python</kbd>
</div>

<h2 class="mx-auto text-2xl p-4 max-w-7xl">DevOps</h2>
<div class="max-w-7xl px-4 gap-4 flex flex-wrap mx-auto">
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-docker-plain px-1"></i>
    Docker</kbd>
  <kbd class="kbd kbd-md  text-xl"><i class="devicon-gitlab-plain px-1"></i>
    Gitlab</kbd>
</div>

<h2 class="mx-auto text-2xl p-4 max-w-7xl">Frontend</h2>
<div class="max-w-7xl px-4 gap-4 flex flex-wrap mx-auto">
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-java-plain px-1"></i>
    Java</kbd>
  <kbd class="kbd kbd-md  text-xl"><i class="devicon-typescript-plain px-1"></i>
    Typescript</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-javascript-plain px-1"></i>
    Javascript</kbd>
  <kbd class="kbd kbd-md  text-xl">
    <i class="devicon-python-plain px-1"></i>
    Python</kbd>
</div>
