<h2 class="bg-gradient-to-r from-[#ff00cc] to-[#818cf8] text-transparent bg-clip-text mx-auto text-4xl font-bold p-4 max-w-7xl ">Experience</h2>
<div class="mx-auto  max-w-7xl grid md:grid-cols-3 grid-cols-1 gap-6 px-4 py-6">
  <div class="card hover:shadow-lg hover:shadow-[#ff00cc]  bg-black border-secondary border-2 hover:-translate-y-4 duration-200" *ngFor="let experience of experiences">
    <div class="card-body bg-opacity-40 backdrop-filter  bg-neutral rounded-2xl">
      <h2 class="card-title text-2xl">{{ experience.name }}</h2>
      <p>{{ experience.description }}</p>
      <div class="card-actions justify-end">
        <a [href]="experience.link" target="_blank"><button class="btn btn-secondary">{{ experience.platform }}</button></a>
      </div>
    </div>
  </div>
</div>
