<h2 class="bg-gradient-to-r from-[#ff00cc] to-[#818cf8] text-transparent bg-clip-text w-fit  text-4xl font-bold p-4 max-w-5xl ">
    Experience</h2>
<div class="mx-auto  max-w-7xl grid md:grid-cols-1 grid-cols-1 gap-6 px-4 py-6">
    <div class="card hover:shadow-lg hover:shadow-[#ff00cc]  bg-base-100  hover:-translate-y-4 duration-200"
         *ngFor="let experience of experiences">
        <div class="card-body bg-opacity-40 backdrop-filter  bg-neutral rounded-2xl">
            <h1 class="card-title bg-gradient-to-r from-[#ff00cc] to-[#818cf8] text-transparent bg-clip-text w-fit text-xl">{{ experience.name }} ({{experience.duration}})</h1>
            <h2 class="italic">{{experience.role}}</h2>
            <p class="">{{ experience.description }}</p>
            <div class="card-actions justify-end">
                <a [href]="experience.link" target="_blank">
                    <button class="btn btn-secondary">{{ experience.platform }}</button>
                </a>
            </div>
        </div>
    </div>
</div>
